USE [master]
GO
/****** Object:  Database [ProjectDataBase]    Script Date: 2023/8/14 下午 02:34:35 ******/
CREATE DATABASE [ProjectDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProjectDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProjectDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectDataBase]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserGender] [nvarchar](10) NOT NULL,
	[UserEmail] [nvarchar](100) NOT NULL,
	[UserPassword] [nvarchar](100) NOT NULL,
	[UserCreateTime] [datetime] NOT NULL,
	[UserImageUrl] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTeacher]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTeacher](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[UserIntro1] [nvarchar](max) NULL,
	[UserIntro2] [nvarchar](max) NULL,
	[UserBGImage] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewUserTeacher]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ViewUserTeacher]
as
select Users.UserID,
	   Users.UserName as UserTeacherName,
	   Users.UserImageUrl as TeacherImage,
	   UserTeacher.UserIntro1,
	   UserTeacher.UserIntro2

from Users left join UserTeacher
on Users.UserID = UserTeacher.UserID
GO
/****** Object:  Table [dbo].[ClassCourses]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassCourses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](50) NULL,
	[UserID] [int] NULL,
	[CourseCategoryID] [int] NULL,
	[CourseIntro] [nvarchar](300) NULL,
	[CoursePrice] [money] NULL,
	[CourseImageUrl] [nvarchar](200) NULL,
	[CourseIntroVideo] [nvarchar](200) NULL,
	[CourseDuration] [int] NULL,
	[CourseChapter] [int] NULL,
	[CourseContent] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewTeacherCourse]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewTeacherCourse] AS
SELECT
    dbo.ViewUserTeacher.UserID,
    dbo.ViewUserTeacher.UserTeacherName,
    dbo.ViewUserTeacher.TeacherImage,
    dbo.ViewUserTeacher.UserIntro1,
    dbo.ViewUserTeacher.UserIntro2,
    dbo.ClassCourses.CourseImageUrl,
	dbo.ClassCourses.CourseID,
    dbo.ClassCourses.CourseName,
    dbo.ClassCourses.CourseIntro,
    dbo.ClassCourses.CoursePrice,
    dbo.ClassCourses.CourseDuration

FROM
    dbo.ViewUserTeacher
LEFT OUTER JOIN
    dbo.ClassCourses ON dbo.ViewUserTeacher.UserID = dbo.ClassCourses.UserID;
GO
/****** Object:  Table [dbo].[ShoppingOrders]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingOrders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[TotalAmount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingOrderDetails]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingOrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[CourseID] [int] NULL,
	[Price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewOrderDetailsInIndex]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*訂單明細資料表的東西，應該要從這裡看到訂單明細才是對的，前面的第五章檢視表是錯的*/
CREATE VIEW [dbo].[ViewOrderDetailsInIndex]
AS
SELECT  dbo.ShoppingOrderDetails.OrderDetailID, dbo.ShoppingOrders.OrderID, dbo.ClassCourses.CourseID, 
                   dbo.ClassCourses.CourseName, dbo.ClassCourses.CourseImageUrl, dbo.ClassCourses.CourseDuration, 
                   dbo.Users.UserID, dbo.Users.UserName, dbo.ViewTeacherCourse.UserTeacherName
FROM      dbo.ViewTeacherCourse INNER JOIN
                   dbo.ClassCourses ON dbo.ViewTeacherCourse.CourseID = dbo.ClassCourses.CourseID RIGHT OUTER JOIN
                   dbo.ShoppingOrderDetails LEFT OUTER JOIN
                   dbo.ShoppingOrders ON dbo.ShoppingOrderDetails.OrderID = dbo.ShoppingOrders.OrderID ON 
                   dbo.ClassCourses.CourseID = dbo.ShoppingOrderDetails.CourseID LEFT OUTER JOIN
                   dbo.Users ON dbo.ShoppingOrders.UserID = dbo.Users.UserID
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[CommentContent] [varchar](255) NULL,
	[CommentTime] [datetime] NULL,
	[UserID] [int] NULL,
	[PostID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewPostComment]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  /* 發文專區資料 檢視表*/
	
CREATE VIEW [dbo].[ViewPostComment]
AS
SELECT 
    
    comments.PostID,
    comments.CommentID,
	comments.UserID As CommentUserID,
    users.UserName AS CommentUser,
	users.UserImageUrl,
	comments.CommentContent,
	Comments.CommentTime

FROM 
    Comments
LEFT JOIN  Users
on comments.UserID=users.UserID
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[PostCategory] [nvarchar](50) NOT NULL,
	[PostTitle] [nvarchar](100) NOT NULL,
	[PostPublishTime] [datetime] NOT NULL,
	[PostContent] [nvarchar](max) NOT NULL,
	[PostTag1] [nvarchar](50) NULL,
	[PostTag2] [nvarchar](50) NULL,
	[PostTag3] [nvarchar](50) NULL,
	[HiddenPost] [varchar](100) NULL,
	[PostrImgUrl] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewPostCommentCount]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[ViewPostCommentCount]
AS
SELECT 
    Posts.PostID,
    count(comments.PostID) as PostCommentCount
FROM 
    Posts
LEFT JOIN  comments
on Posts.PostID=comments.PostID
group by Posts.PostID
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[PostID] [int] NULL,
	[BookTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewPostBookCount]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[ViewPostBookCount]
AS
SELECT 
    Posts.PostID,
    count(Books.PostID) as PostBookCount
FROM 
    Posts
LEFT JOIN  Books
on Posts.PostID=Books.PostID
group by Posts.PostID
GO
/****** Object:  Table [dbo].[Thumbs]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thumbs](
	[ThumbID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[PostID] [int] NULL,
	[ThumbTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThumbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewPostThumbCount]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[ViewPostThumbCount]
AS
SELECT 
    Posts.PostID,
    count(Thumbs.PostID) as PostThumbCount
FROM 
    Posts
LEFT JOIN  Thumbs
on Posts.PostID=Thumbs.PostID
group by Posts.PostID
GO
/****** Object:  View [dbo].[ViewPost]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[ViewPost]
AS
SELECT 
    Posts.PostID,
    Posts.PostTitle,
	Posts.PostCategory,
	Posts.PostContent,
	Posts.PostPublishTime,
	Posts.PostrImgUrl,
	Posts.PostTag1,
	Posts.PostTag2,
	Posts.PostTag3,
	Posts.HiddenPost,
    Posts.UserID,
    Users.UserName,
	users.UserImageUrl,
	ViewPostThumbCount.PostThumbCount,
	ViewPostCommentCount.PostCommentCount,
	ViewPostBookCount.PostBookCount,
	ViewPostThumbCount.PostThumbCount+ViewPostBookCount.PostBookCount+ViewPostBookCount.PostBookCount as　ValuePoint

FROM   Posts  
LEFT JOIN 
    Users ON Posts.UserID = Users.UserID
	
LEFT JOIN 
 ViewPostThumbCount ON Posts.PostID = ViewPostThumbCount.PostID

 LEFT JOIN 
 ViewPostCommentCount ON Posts.PostID = ViewPostCommentCount.PostID

 LEFT JOIN 
 ViewPostBookCount ON Posts.PostID = ViewPostBookCount.PostID
WHERE Posts.HiddenPost IS NULL
GO
/****** Object:  Table [dbo].[ChatRooms]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatRooms](
	[ChatRoomID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ChatRoomTime] [datetime] NOT NULL,
	[PostID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatRoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messagess]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messagess](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[ChatRoomID] [int] NULL,
	[UserID] [int] NULL,
	[MessageContent] [nvarchar](255) NULL,
	[MessageTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewChatRoomMessage]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  /* 聊天室 檢視表*/
CREATE VIEW [dbo].[ViewChatRoomMessage]
AS
select Messagess.MessageID,Messagess.ChatRoomID,
       Messagess.UserID ,Users.UserName,Users.UserImageUrl,
	   Messagess.MessageContent,
	   Messagess.MessageTime,
	   ChatRooms.PostID as  ChatRoomsPostID,
	   Posts.PostTitle,
	   Posts.UserID as PosterID
	   
      from Messagess 
	  left join Users 
	  on Messagess.UserID=Users.UserID
	  left join ChatRooms 
	  on Messagess.ChatRoomID=ChatRooms.ChatRoomID
	  left join Posts 
	  on  ChatRooms.PostID=Posts.PostID
GO
/****** Object:  View [dbo].[ViewChatRoom]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewChatRoom]
AS
select ChatRooms.ChatRoomID,
       ChatRooms.UserID,Users.UserName,Users.UserImageUrl,
       ChatRooms.ChatRoomTime,ChatRooms.PostID,
	   ViewPost.PostTitle,
	   ViewPost.UserName as  PosterName,
	   ViewPost.UserID as PosterID,
	   ViewPost.UserImageUrl as Posterimg
	
 from  ChatRooms left join Users
 on ChatRooms.UserID=Users.UserID
 left join ViewPost 
 on ChatRooms.PostID=ViewPost.PostID
GO
/****** Object:  View [dbo].[ViewBookUser]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  /* 使用者收藏文章的 檢視表*/
CREATE VIEW [dbo].[ViewBookUser]
AS
SELECT Books.BookID,
       Books.UserID as BookUser,
       Books.PostID as PostIDbyBook,
       Books.BookTime,
	   ViewPost.*

  FROM Books left join ViewPost 
  on Books.PostID=ViewPost.PostID

GO
/****** Object:  Table [dbo].[ClassChapter]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassChapter](
	[ChapterID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NULL,
	[CourseVideo] [nvarchar](200) NULL,
	[ChapterTitle] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChapterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewClassChapterCount]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--建立view

--章節數量view
CREATE VIEW [dbo].[ViewClassChapterCount] AS
SELECT
    dbo.ClassChapter.CourseID,
    COUNT(dbo.ClassChapter.ChapterID) AS ChapterCount,
    dbo.ClassCourses.CourseDuration
FROM
    dbo.ClassChapter
INNER JOIN dbo.ClassCourses ON dbo.ClassChapter.CourseID = dbo.ClassCourses.CourseID
GROUP BY
    dbo.ClassChapter.CourseID,
    dbo.ClassCourses.CourseDuration;
GO
/****** Object:  Table [dbo].[ClassCategory]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassCategory](
	[CourseCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CourseCategoryName] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewClassPageTop]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--classpage上端view
create view [dbo].[ViewClassPageTop]
as
select ClassCourses.CourseID, ClassCourses.CourseName, ClassCourses.CourseCategoryID,ClassCategory.CourseCategoryName,ClassCourses.UserID,ClassCourses.CourseIntro,Users.UserName,ClassCourses.CourseIntroVideo
from ClassCourses  
left join 
		ClassCategory on ClassCourses.CourseCategoryID = ClassCategory.CourseCategoryID
left join
		Users on ClassCourses.UserID = Users.UserID 
GO
/****** Object:  Table [dbo].[ClassQA]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassQA](
	[CourseQAID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NULL,
	[CourseQAMessage] [nvarchar](max) NULL,
	[QATime] [datetime] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK__ClassQA__E3F3B84B82B321EE] PRIMARY KEY CLUSTERED 
(
	[CourseQAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewClassQABefore]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 新增QA資料表
CREATE VIEW [dbo].[ViewClassQABefore]
AS
SELECT 
    
    ClassQA.CourseQAID,
    ClassQA.CourseID,
	ClassQA.UserID As QAUserID,
    users.UserName AS QAUser,
	users.UserImageUrl,
	ClassQA.CourseQAMessage,
	ClassQA.QATime

FROM 
    ClassQA
LEFT JOIN  Users
on ClassQA.UserID=users.UserID
GO
/****** Object:  Table [dbo].[ClassText]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassText](
	[CourseTextID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NULL,
	[CourseText] [nvarchar](max) NULL,
	[TextTime] [datetime] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseTextID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewClassText]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--新增課程評價文字資料表
CREATE VIEW [dbo].[ViewClassText]
AS
SELECT 
    
    ClassText.CourseTextID,
    ClassText.CourseID,
	ClassText.UserID As TextUserID,
    users.UserName AS TextUser,
	users.UserImageUrl,
	ClassText.CourseText,
	ClassText.TextTime

FROM 
    ClassText
LEFT JOIN  Users
on ClassText.UserID=users.UserID
GO
/****** Object:  View [dbo].[ViewUserCourse]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewUserCourse]
AS
SELECT  dbo.ViewUserTeacher.UserID, dbo.ViewUserTeacher.UserTeacherName AS UserCourseName, 
                   dbo.ClassCourses.CourseID, dbo.ClassCourses.CourseName, 
                   dbo.ClassCourses.CourseImageUrl AS UserCourseImageUrl, dbo.ClassCourses.CourseIntro, 
                   dbo.ClassCourses.CourseDuration, dbo.ClassCourses.CoursePrice, dbo.ClassCategory.CourseCategoryName, 
                   dbo.ClassCourses.CourseCategoryID
FROM      dbo.ClassCategory INNER JOIN
                   dbo.ClassCourses ON dbo.ClassCategory.CourseCategoryID = dbo.ClassCourses.CourseCategoryID RIGHT OUTER JOIN
                   dbo.ViewUserTeacher ON dbo.ClassCourses.UserID = dbo.ViewUserTeacher.UserID
GO
/****** Object:  View [dbo].[ViewClassStartVideo]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 新增上課影片檢視表
create View [dbo].[ViewClassStartVideo] as
SELECT  dbo.ClassCourses.CourseName, dbo.ClassCourses.CourseID, dbo.ClassCourses.CourseCategoryID, 
                   dbo.ClassCourses.CourseIntro, dbo.ClassCourses.CourseImageUrl, dbo.ClassCourses.CourseIntroVideo, 
                   dbo.ClassCourses.CourseDuration, dbo.ClassCourses.CourseContent, dbo.ClassChapter.ChapterID, 
                   dbo.ClassChapter.CourseVideo, dbo.ClassChapter.ChapterTitle
FROM      dbo.ClassCourses INNER JOIN
                   dbo.ClassChapter ON dbo.ClassCourses.CourseID = dbo.ClassChapter.CourseID
GO
/****** Object:  Table [dbo].[ShoppingAddToCarts]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingAddToCarts](
	[ShoppingCartID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CourseID] [int] NULL,
	[CartItemPrice] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShoppingCartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewBuiedTotalPrice]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--===================View草稿===============
--1、誰總共買了多少價錢
create view [dbo].[ViewBuiedTotalPrice]
as
select UserID, SUM(CartItemPrice) as TotalPrice
from ShoppingAddToCarts
group by UserID;
GO
/****** Object:  View [dbo].[ViewBuiedCoursesName]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--3、誰買了什麼課_包含購物車ID.使用者名稱.使用者ID.課程ID.課程名稱.課程價格
create view [dbo].[ViewBuiedCoursesName]
as
select ShoppingAddToCarts.ShoppingCartID, Users.UserName, Users.UserID, Users.UserEmail,
	   ClassCourses.CourseID, ClassCourses.CourseName, ClassCourses.CoursePrice
from ShoppingAddToCarts
left join Users on ShoppingAddToCarts.UserID = Users.UserID
left join ClassCourses on ShoppingAddToCarts.CourseID = ClassCourses.CourseID
GO
/****** Object:  View [dbo].[ViewPersonalIndexBuiedCourses]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----錯誤寫法-----
--select ShoppingAddToCarts.ShoppingCartID, ClassCourses.CourseID, 
--       ClassCourses.CourseName, ClassCourses.CoursePrice, Users.UserName, Users.UserID
--from ShoppingAddToCarts
--LEFT JOIN ClassCourses on ShoppingAddToCarts.CourseID = ClassCourses.CourseID
--LEFT JOIN Users on ShoppingAddToCarts.UserID = Users.UserID;
-----錯誤寫法-----
--============以下這段是錯的======================
--select Users.UserName, Users.UserID, ClassCourses.CourseID, ShoppingAddToCarts.ShoppingCartID,
--	   ClassCourses.CourseName, ClassCourses.CoursePrice

--from ShoppingAddToCarts left join ClassCourses
--on ShoppingAddToCarts.UserID = ClassCourses.UserID
--left join Users
--on ShoppingAddToCarts.UserID = Users.UserID
--============以上這段是錯的======================

--4、誰買了什麼課_要印在個人頁面上面的，包含購物車ID.使用者名稱.使用者ID.課程ID.課程名稱.課程圖片.課程時長
create view [dbo].[ViewPersonalIndexBuiedCourses]
as
select ShoppingAddToCarts.ShoppingCartID, Users.UserName, Users.UserID,
	   ClassCourses.CourseID, ClassCourses.CourseName, ClassCourses.CourseImageUrl
from ShoppingAddToCarts
left join Users on ShoppingAddToCarts.UserID = Users.UserID
left join ClassCourses on ShoppingAddToCarts.CourseID = ClassCourses.CourseID
GO
/****** Object:  View [dbo].[ViewPersonalOrderDetails]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--5、誰買了什麼課__這是訂單的明細，可以看到使用者訂單的詳細資訊，包含購物車ID.使用者名稱.使用者ID.使用者Email.課程ID.課程名稱.課程價格
create view [dbo].[ViewPersonalOrderDetails]
as
select ShoppingAddToCarts.ShoppingCartID, Users.UserName, Users.UserID,
	   ClassCourses.CourseID, ClassCourses.CourseName, ClassCourses.CourseImageUrl, ClassCourses.CoursePrice
from ShoppingAddToCarts
left join Users on ShoppingAddToCarts.UserID = Users.UserID
left join ClassCourses on ShoppingAddToCarts.CourseID = ClassCourses.CourseID
GO
/****** Object:  Table [dbo].[ClassContentImage]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassContentImage](
	[ContentImageID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NULL,
	[ContentImage] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContentImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassMessage]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassMessage](
	[CourseMessageID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CourseMessage] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseMessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassScore]    Script Date: 2023/8/14 下午 02:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassScore](
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[CourseScoreMessage] [nvarchar](200) NULL,
	[Score] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [UserID], [PostID], [BookTime]) VALUES (2, 2, 2, CAST(N'2023-07-19T02:05:09.180' AS DateTime))
INSERT [dbo].[Books] ([BookID], [UserID], [PostID], [BookTime]) VALUES (3, 3, 3, CAST(N'2023-07-19T02:05:09.180' AS DateTime))
INSERT [dbo].[Books] ([BookID], [UserID], [PostID], [BookTime]) VALUES (4, 4, 4, CAST(N'2023-07-19T02:05:09.180' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatRooms] ON 

INSERT [dbo].[ChatRooms] ([ChatRoomID], [UserID], [ChatRoomTime], [PostID]) VALUES (1, 5, CAST(N'2023-07-19T02:05:09.190' AS DateTime), 1)
INSERT [dbo].[ChatRooms] ([ChatRoomID], [UserID], [ChatRoomTime], [PostID]) VALUES (2, 3, CAST(N'2023-07-19T02:05:09.190' AS DateTime), 2)
INSERT [dbo].[ChatRooms] ([ChatRoomID], [UserID], [ChatRoomTime], [PostID]) VALUES (3, 3, CAST(N'2023-07-19T02:05:09.190' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[ChatRooms] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassCategory] ON 

INSERT [dbo].[ClassCategory] ([CourseCategoryID], [CourseCategoryName]) VALUES (1, N'程式設計')
INSERT [dbo].[ClassCategory] ([CourseCategoryID], [CourseCategoryName]) VALUES (2, N'音樂')
INSERT [dbo].[ClassCategory] ([CourseCategoryID], [CourseCategoryName]) VALUES (3, N'語言')
SET IDENTITY_INSERT [dbo].[ClassCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassChapter] ON 

INSERT [dbo].[ClassChapter] ([ChapterID], [CourseID], [CourseVideo], [ChapterTitle]) VALUES (1, 19, N'/CourseVideo/你可能不知道的科技寫作字彙Coursevideo.mp4', N'你可能不知道的科技寫作字彙')
INSERT [dbo].[ClassChapter] ([ChapterID], [CourseID], [CourseVideo], [ChapterTitle]) VALUES (2, 19, N'/CourseVideo/你可能不知道的文法功能Coursevideo.mp4', N'你可能不知道的文法功能')
INSERT [dbo].[ClassChapter] ([ChapterID], [CourseID], [CourseVideo], [ChapterTitle]) VALUES (3, 19, N'/CourseVideo/你可能不知道的句型和句型變化Coursevideo.mp4', N'你可能不知道的句型和句型變化')
SET IDENTITY_INSERT [dbo].[ClassChapter] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassCourses] ON 

SET IDENTITY_INSERT [dbo].[ClassCourses] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassMessage] ON 

INSERT [dbo].[ClassMessage] ([CourseMessageID], [UserID], [CourseMessage]) VALUES (1, 1, N'老師教得淺顯易懂')
INSERT [dbo].[ClassMessage] ([CourseMessageID], [UserID], [CourseMessage]) VALUES (2, 2, N'鋼琴零基礎也看得懂!很讚')
INSERT [dbo].[ClassMessage] ([CourseMessageID], [UserID], [CourseMessage]) VALUES (3, 3, N'想請問老師一個單字字根的問題')
SET IDENTITY_INSERT [dbo].[ClassMessage] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassQA] ON 

INSERT [dbo].[ClassQA] ([CourseQAID], [CourseID], [CourseQAMessage], [QATime], [UserID]) VALUES (1, 20, N'請問有優惠嗎?', CAST(N'2023-08-10T17:13:40.870' AS DateTime), 42)
INSERT [dbo].[ClassQA] ([CourseQAID], [CourseID], [CourseQAMessage], [QATime], [UserID]) VALUES (2, 19, N'請問有進階課程嗎?', CAST(N'2023-08-10T17:18:21.890' AS DateTime), 41)
INSERT [dbo].[ClassQA] ([CourseQAID], [CourseID], [CourseQAMessage], [QATime], [UserID]) VALUES (3, 20, N'請問課程會漲價嗎?', CAST(N'2023-08-10T17:20:17.203' AS DateTime), 39)
SET IDENTITY_INSERT [dbo].[ClassQA] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassText] ON 

INSERT [dbo].[ClassText] ([CourseTextID], [CourseID], [CourseText], [TextTime], [UserID]) VALUES (1, 20, N'老師你好棒!!!', CAST(N'2023-08-10T17:10:31.817' AS DateTime), 42)
INSERT [dbo].[ClassText] ([CourseTextID], [CourseID], [CourseText], [TextTime], [UserID]) VALUES (2, 19, N'老師教得很詳細!', CAST(N'2023-08-10T17:18:08.777' AS DateTime), 41)
INSERT [dbo].[ClassText] ([CourseTextID], [CourseID], [CourseText], [TextTime], [UserID]) VALUES (3, 20, N'課程清晰，步調輕鬆無壓力
一直都有在使用不同平台自學資訊相關課程，講師的課程安排與規劃，通常是學習成效的關鍵。
推薦Ryan 在Hahow上開設的課程:「資料庫設計」，Ryan老師講解清楚，學習起來完全無壓力。
除了資料庫設計之外，老師還分享了實務面的經驗，我覺得非常難得!!
另外還贈送實用的
【Python基礎課程和網路爬蟲入門實戰】http://bit.ly/codegym-python
【Python 資料分析 - 入門實戰】http://bit.ly/codegym-python-data-science', CAST(N'2023-08-10T19:15:54.360' AS DateTime), 39)
SET IDENTITY_INSERT [dbo].[ClassText] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [CommentContent], [CommentTime], [UserID], [PostID]) VALUES (1, N'pop;o', CAST(N'2023-08-08T11:42:22.610' AS DateTime), 45, 78)
INSERT [dbo].[Comments] ([CommentID], [CommentContent], [CommentTime], [UserID], [PostID]) VALUES (2, N'pop;o', CAST(N'2023-08-08T11:42:25.080' AS DateTime), 45, 78)
INSERT [dbo].[Comments] ([CommentID], [CommentContent], [CommentTime], [UserID], [PostID]) VALUES (3, N'好文分享~~~~~~XD', CAST(N'2023-08-09T04:19:45.370' AS DateTime), 45, 85)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Messagess] ON 

INSERT [dbo].[Messagess] ([MessageID], [ChatRoomID], [UserID], [MessageContent], [MessageTime]) VALUES (1, 103, 43, N'任何問題歡迎留言', CAST(N'2023-08-08T11:41:48.973' AS DateTime))
INSERT [dbo].[Messagess] ([MessageID], [ChatRoomID], [UserID], [MessageContent], [MessageTime]) VALUES (2, 103, 45, N'請問哪裡可以上課', CAST(N'2023-08-08T11:41:54.200' AS DateTime))
INSERT [dbo].[Messagess] ([MessageID], [ChatRoomID], [UserID], [MessageContent], [MessageTime]) VALUES (3, 104, 43, N'任何問題歡迎留言', CAST(N'2023-08-08T17:14:16.210' AS DateTime))
SET IDENTITY_INSERT [dbo].[Messagess] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([PostID], [UserID], [PostCategory], [PostTitle], [PostPublishTime], [PostContent], [PostTag1], [PostTag2], [PostTag3], [HiddenPost], [PostrImgUrl]) VALUES (1, 1, N'Technology', N'Introduction to SQL Server', CAST(N'2023-07-19T02:05:09.143' AS DateTime), N'This is an introduction to SQL Server.', N'SQL', N'Server', N'Database', N'1', NULL)
INSERT [dbo].[Posts] ([PostID], [UserID], [PostCategory], [PostTitle], [PostPublishTime], [PostContent], [PostTag1], [PostTag2], [PostTag3], [HiddenPost], [PostrImgUrl]) VALUES (2, 2, N'Sports', N'The Benefits of Regular Exercise', CAST(N'2023-07-19T02:05:09.143' AS DateTime), N'Regular exercise has many benefits for physical and mental health.', N'Exercise', N'Fitness', NULL, NULL, NULL)
INSERT [dbo].[Posts] ([PostID], [UserID], [PostCategory], [PostTitle], [PostPublishTime], [PostContent], [PostTag1], [PostTag2], [PostTag3], [HiddenPost], [PostrImgUrl]) VALUES (3, 3, N'Food', N'Delicious Recipes for Summer BBQ', CAST(N'2023-07-19T02:05:09.143' AS DateTime), N'Get ready for summer BBQ with these delicious recipes!', N'BBQ', N'Grilling', N'Recipes', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[ShoppingAddToCarts] ON 

INSERT [dbo].[ShoppingAddToCarts] ([ShoppingCartID], [UserID], [CourseID], [CartItemPrice]) VALUES (7, 41, 19, NULL)
INSERT [dbo].[ShoppingAddToCarts] ([ShoppingCartID], [UserID], [CourseID], [CartItemPrice]) VALUES (13, 41, 20, NULL)
INSERT [dbo].[ShoppingAddToCarts] ([ShoppingCartID], [UserID], [CourseID], [CartItemPrice]) VALUES (14, 41, 21, NULL)
SET IDENTITY_INSERT [dbo].[ShoppingAddToCarts] OFF
GO
SET IDENTITY_INSERT [dbo].[ShoppingOrderDetails] ON 

INSERT [dbo].[ShoppingOrderDetails] ([OrderDetailID], [OrderID], [CourseID], [Price]) VALUES (15, 9, 19, 500)
INSERT [dbo].[ShoppingOrderDetails] ([OrderDetailID], [OrderID], [CourseID], [Price]) VALUES (16, 9, 20, 800)
INSERT [dbo].[ShoppingOrderDetails] ([OrderDetailID], [OrderID], [CourseID], [Price]) VALUES (17, 9, 21, 1200)
SET IDENTITY_INSERT [dbo].[ShoppingOrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[ShoppingOrders] ON 

INSERT [dbo].[ShoppingOrders] ([OrderID], [UserID], [OrderDate], [TotalAmount]) VALUES (9, 41, CAST(N'2023-08-10' AS Date), 2500)
INSERT [dbo].[ShoppingOrders] ([OrderID], [UserID], [OrderDate], [TotalAmount]) VALUES (10, 41, CAST(N'2023-08-10' AS Date), 570)
INSERT [dbo].[ShoppingOrders] ([OrderID], [UserID], [OrderDate], [TotalAmount]) VALUES (11, 41, CAST(N'2023-08-10' AS Date), 2980)
SET IDENTITY_INSERT [dbo].[ShoppingOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Thumbs] ON 

INSERT [dbo].[Thumbs] ([ThumbID], [UserID], [PostID], [ThumbTime]) VALUES (1, 44, 78, CAST(N'2023-08-08T09:46:26.690' AS DateTime))
INSERT [dbo].[Thumbs] ([ThumbID], [UserID], [PostID], [ThumbTime]) VALUES (2, 44, 68, CAST(N'2023-08-08T09:46:29.130' AS DateTime))
INSERT [dbo].[Thumbs] ([ThumbID], [UserID], [PostID], [ThumbTime]) VALUES (3, 44, 64, CAST(N'2023-08-08T09:46:30.993' AS DateTime))
SET IDENTITY_INSERT [dbo].[Thumbs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [UserGender], [UserEmail], [UserPassword], [UserCreateTime], [UserImageUrl]) VALUES (1, N'John', N'Male', N'John@gmail.com', N'John', CAST(N'2023-07-19T02:05:09.127' AS DateTime), N'/images/Amy-Linimg.jpg')
INSERT [dbo].[Users] ([UserID], [UserName], [UserGender], [UserEmail], [UserPassword], [UserCreateTime], [UserImageUrl]) VALUES (2, N'Jane3', N'Female', N'jane3.smith@example.com', N'12345', CAST(N'2023-07-19T02:05:09.127' AS DateTime), N'/images/Kate-Chenimg.jpg')
INSERT [dbo].[Users] ([UserID], [UserName], [UserGender], [UserEmail], [UserPassword], [UserCreateTime], [UserImageUrl]) VALUES (3, N'Mike4', N'Male', N'mike4.johnson@example.com', N'1236547', CAST(N'2023-07-19T02:05:09.127' AS DateTime), N'/images/Alex-Chenimg.jpg')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTeacher] ON 

INSERT [dbo].[UserTeacher] ([TeacherID], [UserID], [UserIntro1], [UserIntro2], [UserBGImage]) VALUES (1, 40, N'我是Sarry，歡迎來到我們的英文口說教室！', N'專職的語言訓練講師及翻譯工作者，致力於將語言學習操作化，以輕鬆有趣的方式提升同學的英文能力，同時也是美國 UCLA 訪問學者', NULL)
INSERT [dbo].[UserTeacher] ([TeacherID], [UserID], [UserIntro1], [UserIntro2], [UserBGImage]) VALUES (2, 33, N'專職的語言訓0 篇英文作文。 2020 年出版著作《愛情的 52 種面貌：西洋經典情詩選》推廣中英閱讀及翻譯文學，2018、19 年與師大翻譯所師生合著《中英筆譯》、《英中新聞筆譯》教科書，並譯有《英文寫作聖經》、《未竟之路》、《愛與戰爭的日日夜夜》、《吻的文化史》、《錯置臺北城》等十餘本譯作。', N'Peter', NULL)
INSERT [dbo].[UserTeacher] ([TeacherID], [UserID], [UserIntro1], [UserIntro2], [UserBGImage]) VALUES (3, 34, N'華碩高級工程師，Code Gym 創辦人，多年軟體開發經驗，喜歡程式語言與電腦相關技術，慢慢地發現與人分享知識的喜悅，希望能和有需要的朋友一起學習，共同成長。', N'Java, Python, Swift, Database, AWS, APP develop, E-commerce', NULL)
SET IDENTITY_INSERT [dbo].[UserTeacher] OFF
GO
/****** Object:  Index [UC_Books_UserPost]    Script Date: 2023/8/14 下午 02:34:36 ******/
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [UC_Books_UserPost] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ShoppingAddToCarts_UserCourse]    Script Date: 2023/8/14 下午 02:34:36 ******/
ALTER TABLE [dbo].[ShoppingAddToCarts] ADD  CONSTRAINT [UQ_ShoppingAddToCarts_UserCourse] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_Thumbs_UserPost]    Script Date: 2023/8/14 下午 02:34:36 ******/
ALTER TABLE [dbo].[Thumbs] ADD  CONSTRAINT [UC_Thumbs_UserPost] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (getdate()) FOR [BookTime]
GO
ALTER TABLE [dbo].[ChatRooms] ADD  DEFAULT (getdate()) FOR [ChatRoomTime]
GO
ALTER TABLE [dbo].[ClassQA] ADD  CONSTRAINT [DF__ClassQA__QATime__5FB337D6]  DEFAULT (getdate()) FOR [QATime]
GO
ALTER TABLE [dbo].[ClassText] ADD  DEFAULT (getdate()) FOR [TextTime]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CommentTime]
GO
ALTER TABLE [dbo].[Messagess] ADD  DEFAULT (getdate()) FOR [MessageTime]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [PostPublishTime]
GO
ALTER TABLE [dbo].[ShoppingOrders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Thumbs] ADD  DEFAULT (getdate()) FOR [ThumbTime]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UserCreateTime]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ChatRooms]  WITH CHECK ADD FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
GO
ALTER TABLE [dbo].[ChatRooms]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClassChapter]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[ClassCourses] ([CourseID])
GO
ALTER TABLE [dbo].[ClassContentImage]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[ClassCourses] ([CourseID])
GO
ALTER TABLE [dbo].[ClassCourses]  WITH CHECK ADD FOREIGN KEY([CourseCategoryID])
REFERENCES [dbo].[ClassCategory] ([CourseCategoryID])
GO
ALTER TABLE [dbo].[ClassCourses]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClassMessage]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClassQA]  WITH CHECK ADD  CONSTRAINT [FK__ClassQA__CourseI__6FE99F9F] FOREIGN KEY([CourseID])
REFERENCES [dbo].[ClassCourses] ([CourseID])
GO
ALTER TABLE [dbo].[ClassQA] CHECK CONSTRAINT [FK__ClassQA__CourseI__6FE99F9F]
GO
ALTER TABLE [dbo].[ClassQA]  WITH CHECK ADD  CONSTRAINT [FK__ClassQA__UserID__70DDC3D8] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClassQA] CHECK CONSTRAINT [FK__ClassQA__UserID__70DDC3D8]
GO
ALTER TABLE [dbo].[ClassScore]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[ClassCourses] ([CourseID])
GO
ALTER TABLE [dbo].[ClassScore]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClassText]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[ClassCourses] ([CourseID])
GO
ALTER TABLE [dbo].[ClassText]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messagess]  WITH CHECK ADD FOREIGN KEY([ChatRoomID])
REFERENCES [dbo].[ChatRooms] ([ChatRoomID])
GO
ALTER TABLE [dbo].[Messagess]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ShoppingAddToCarts]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingAddToCarts_ClassCourses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[ClassCourses] ([CourseID])
GO
ALTER TABLE [dbo].[ShoppingAddToCarts] CHECK CONSTRAINT [FK_ShoppingAddToCarts_ClassCourses]
GO
ALTER TABLE [dbo].[ShoppingAddToCarts]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingAddToCarts_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ShoppingAddToCarts] CHECK CONSTRAINT [FK_ShoppingAddToCarts_Users]
GO
ALTER TABLE [dbo].[ShoppingOrderDetails]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[ClassCourses] ([CourseID])
GO
ALTER TABLE [dbo].[ShoppingOrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[ShoppingOrders] ([OrderID])
GO
ALTER TABLE [dbo].[ShoppingOrders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Thumbs]  WITH CHECK ADD FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
GO
ALTER TABLE [dbo].[Thumbs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserTeacher]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -120
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ShoppingOrderDetails"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 165
               Right = 240
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ShoppingOrders"
            Begin Extent = 
               Top = 168
               Left = 48
               Bottom = 326
               Right = 239
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ClassCourses"
            Begin Extent = 
               Top = 329
               Left = 48
               Bottom = 487
               Right = 271
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Users"
            Begin Extent = 
               Top = 200
               Left = 571
               Bottom = 358
               Right = 777
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ViewTeacherCourse"
            Begin Extent = 
               Top = 265
               Left = 342
               Bottom = 423
               Right = 565
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewOrderDetailsInIndex'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewOrderDetailsInIndex'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewOrderDetailsInIndex'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ViewUserTeacher"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 165
               Right = 271
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ClassCourses"
            Begin Extent = 
               Top = 168
               Left = 48
               Bottom = 326
               Right = 271
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ClassCategory"
            Begin Extent = 
               Top = 7
               Left = 319
               Bottom = 123
               Right = 569
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewUserCourse'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewUserCourse'
GO
USE [master]
GO
